/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: url(/assets/bg.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	font-family: 'Roboto', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.center-box {
	margin: 10% auto;
	width: 681px;
	position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
		background: linear-gradient(to bottom, #01c7b8 0%,#01c6b8 1%,#02aea2 3%,#0d939b 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.header li {
  display: inline-block;
}
.button {
	background: url(/assets/highlight1.png);
	background-repeat: no-repeat;
	width: 24px;
	height: 26px;
	display: inline-flex;
}

.logo {
	background: url(/assets/logo.png);
	background-repeat: no-repeat;
	width: 179px;
	height: 32px;
	margin-left: -40px;
	cursor: pointer;
}

.sound {
	background: url(/assets/volume.png);
	background-repeat: no-repeat;
	width: 36px;
	height: 26px;
	display: inline-block;
}

.station {
    background: url(/assets/middle-bg.png);
    padding: 20px 30px;

}

.text {
    justify-content: space-between;
    display: flex;
    padding: 0 60px;
}

.text p {
    color: #6c6f6c;
    font-size: 30px;
    font-weight: bold;

}

.text p span {
    color: #6c6f6c;
    font-size: 25px;
    font-weight: normal;
}

p.text_middle {
    font-size: 35px;
    color: #fff;
}

p.text_middle span {
    font-size: 30px;
    color: #fff;
}

.arrows ul {
    list-style: none;
    justify-content: space-between;
    display: flex;
    position: relative;
    margin-top: -36px;
}

a.arrow_left {
    background: url(/assets/arrow_left.png);
    width: 25px;
    height: 32px;
    display: block;
}

a.arrow_right {
    background: url(/assets/arrow_right.png);
    width: 25px;
    height: 32px;
    display: block;
}


.content {
		display: flex;
    background: #e8edea;
    border-top: 2px solid #fff;
    padding: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cover {
    background: url(/assets/shadow.png);
    background-repeat: no-repeat;
    width: 170px;
    height: 179px;
    margin-top: 10px;
    padding-right: 100px;
}

.cover::before {
    content: '';
    background: url(/assets/album_cover.png);
    width: 184px;
    height: 184px;
		position: absolute;
    margin: -20px 0 0 -7px;
}

.player {
		width: calc(100% - 184px);
}

p.one {
    color: #5d5f5e;
    font-size: 25px;
    font-weight: bold;
}

p.one::after {
    content: '';
    background: url(/assets/pause.png);
    width: 17px;
    height: 18px;
    display: inline-block;
    float: right;
		cursor: pointer;
}

p.two {
    color: #000;
    font-size: 27px;
    font-weight: bold;
		margin: 10px 0 20px;
}

p.two span {
		float: right;
    color: #91bdb4;
}

.track {
    background: url(/assets/progress_bar1.png);
    width: 355px;
    height: 5px;
		position: relative;
}

.track-progres {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 0;
	background-color: #91bdb4;
}

.heart {
    background: url(/assets/heart.svg);
    width: 46px;
    height: 40px;
		display: inline-flex;
}
.trash {
    background: url(/assets/trash.png);
    width: 37px;
    height: 46px;
		display: inline-flex;
}
.next {
    background: url(/assets/next.png);
    width: 49px;
    height: 30px;
		display: inline-flex;
}

.player ul {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: center;
}
